.heading{
    color: blue;
    background-color: aquamarine;
}

heading2{
    color: brown;
    background-color: red;
}

.font-style{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

